<div class="container height-80vh" id="experience">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h2 class="separator-right fg-blue-200 font-raleway-400" data-aos="fade-up" data-aos-duration="1000"
                data-aos-once="false" data-aos-easing="ease-in-out">Experience
            </h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center fg-grey-400 mt-5">
        <div class="col-12 font-raleway-500">
            <div class="row">
                <div class="col pb-4">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-once="false" data-aos-easing="ease-in-out">
                        <a class="nav-link exp active bg-transparent" id="v-pills-experience-1" data-toggle="pill"
                            href="#v-pills-experience1" role="tab" aria-controls="v-pills-experience1"
                            aria-selected="true">Capgemini, India</a>
                        <a class="nav-link exp bg-transparent" id="v-pills-experience-2" data-toggle="pill"
                            href="#v-pills-experience2" role="tab" aria-controls="v-pills-experience2"
                            aria-selected="false">Android Development</a>
                        <a class="nav-link exp bg-transparent" id="v-pills-experience3-tab" data-toggle="pill"
                            href="#v-pills-experience3" role="tab" aria-controls="v-pills-experience3"
                            aria-selected="false">Web Development</a>
                        <a class="nav-link exp bg-transparent" id="v-pills-skills-tab" data-toggle="pill"
                            href="#v-pills-skills" role="tab" aria-controls="v-pills-skills" aria-selected="false">Other
                            Skills</a>
                    </div>
                </div>
                <div class="col-lg-9 pb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="false"
                    data-aos-easing="ease-in-out">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-experience1" role="tabpanel"
                            aria-labelledby="v-pills-experience-1">
                            <h5 class="fg-white">Associate Consultant <a class="custom-link underline" target="_blank"
                                    href="https://www.capgemini.com/in-en/">
                                    <span>@ Capgemini</span>
                                    <svg viewBox="0 0 13 20">
                                        <polyline points="0.5 19.5 3 19.5 12.5 10 3 0.5" /></svg>
                                </a></h5>
                            <h6 class="fg-white">Oct 2017 - Present</h6>
                            <ul class="mt-4">
                                <li>.NET Core and Framework working on Web APIs and Backend systems for Finance domain</li>
                                <li>Azure Blobs, Functions, ESB and more for various functionalities</li>
                                <li>Worked with various teams on and offshore for upgrading a major application
                                    built on .NET, SQL Server and hosted on IIS Server.</li>
                                <li>Worked with a team for the creation of an in-house code coverage tool with
                                    Java, SpringBoot, MySQL and Angular.</li>
                                <li>Built a Find and Reserve Utility for internal teams working on Data using SQL
                                    Server & Angular.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-experience2" role="tabpanel"
                            aria-labelledby="v-pills-experience-2">
                            <h5 class="fg-white">Freelance Android Developer</h5>
                            <h6 class="fg-white">June 2016 - Present</h6>
                            <ul class="mt-4">
                                <li>Involved in full lifecycle of the projects including design, development and
                                    deployment to build intuitive, robust and pixel-perfect applications while also
                                    working on back-end systems.</li>
                                <li>Worked with various architecture components like Jetpack/AndroidX, ViewModel &
                                    LiveData, Services, BroadcastListeners, SQLite Databases and more.</li>
                                <li>Worked on various tools for responsive functionalities like Google Cloud
                                    Messaging, Firebase Auth, Realtime Database, Analytics & Ads, Picasso,
                                    ButterKnife, Graphs and more.</li>
                                <li>Experienced with AWS for hosting backend systems as well as databases on S3,
                                    Beanstalk and RDS.</li>
                                <li>All the projects use Git for version control and collaboration with other
                                    developers.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-experience3" role="tabpanel"
                            aria-labelledby="v-pills-experience3-tab">
                            <h5 class="fg-white">Web Development</h5>
                            <h6 class="fg-white">May 2017 - Present</h6>
                            <ul class="mt-4">
                                <li>Developed and maintained websites at various levels. From just front-end to
                                    full-stack.</li>
                                <li>Worked with a number of domain providers and hosting services for maintaining
                                    websites.</li>
                                <li>Technologies used for web development include Java SpringBoot or JAX-RS (Jersey)
                                    for back-end and Angular for website.</li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="v-pills-skills" role="tabpanel"
                            aria-labelledby="v-pills-skills-tab">
                            <h5 class="fg-white">Other Skills</h5>
                            <ul class="mt-4">
                                <li>Work with a variety of different languages, platforms, frameworks, and content
                                    management systems such as Java, SpringBoot, JAX-RS (Jersey), XLM, JSON, Maven,
                                    Gradle and Apache Tomcat Server.</li>
                                <li>Write modern, performant, maintainable code for a diverse array of projects.
                                </li>
                                <li>Communicate with multi-disciplinary teams of engineers & clients.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>