<div class="container" style="margin-bottom: 15em;" id="work">
    <div class="row d-flex mb-5 justify-content-center">
        <div class="col-12">
            <h2 class="separator-right fg-blue-200 font-raleway-400" data-aos="fade-up" data-aos-duration="1000"
                data-aos-once="false" data-aos-easing="ease-in-out">Things I've Built
            </h2>
        </div>
    </div>
    <div class="row d-flex d-flex justify-content-center fg-grey-400 font-raleway-500 fg-white" data-aos="fade-up"
        data-aos-duration="1000" data-aos-once="false" data-aos-easing="ease-in-out">
        <div class="col-12">
            <div class="card-deck">
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/notes.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Notes</h4>
                        <p class="card-text font-raleway-300">Quickly capture what’s on your mind at any place or time.
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://play.google.com/store/apps/details?id=dev.jainchiranjeev.notes"
                                target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>Google Play Link</title>
                                    <path style="fill: #EEEEEE;"
                                        d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                                </svg>
                            </a>
                        </button>
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://github.com/JChiranjeev/notes" target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>GitHub Link</title>
                                    <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                                    c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                                    c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                                    c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                                    c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                                    C24,5.7,18.6,0.3,12,0.3" />
                                </svg>
                            </a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#notes-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/gitprofile.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Git Profile</h4>
                        <p class="card-text font-raleway-300">Git Profile provides a nicer look to your Github
                            Profile Stats and Information</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://play.google.com/store/apps/details?id=dev.jainchiranjeev.gitprofile"
                                target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>Google Play Link</title>
                                    <path style="fill: #EEEEEE;"
                                        d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                                </svg>
                            </a>
                        </button>
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://github.com/JChiranjeev/git-profile" target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>GitHub Link</title>
                                    <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                                    c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                                    c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                                    c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                                    c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                                    C24,5.7,18.6,0.3,12,0.3" />
                                </svg>
                            </a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#git-profile-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/instant_downloader.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Instant Downloader</h4>
                        <p class="card-text font-raleway-300">Background service app that helps download quality
                            photos from open instagram accounts.</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.instantdownloader"
                                target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg" style="width: 1.2em; margin-left: 2em">
                                    <title>Google Play Link</title>
                                    <path style="fill: #EEEEEE;"
                                        d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                                </svg>
                            </a>
                        </button>
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://github.com/JChiranjeev/instant-downloader.git" target="_blank"
                                class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg" style="width: 1.2em; margin-left: 2em">
                                    <title>Github Link</title>
                                    <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                                    c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                                    c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                                    c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                                    c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                                    C24,5.7,18.6,0.3,12,0.3" />
                                </svg>
                            </a>
                        </button>
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#instant-downloader-modal">
                            View More...
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br />

    <div class="row d-flex d-flex justify-content-center fg-grey-400 font-raleway-500 fg-white" data-aos="fade-up"
        data-aos-duration="1000" data-aos-once="false" data-aos-easing="ease-in-out">
        <div class="col-12">
            <div class="card-deck">
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/unit_converter.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Unit Converter</h4>
                        <p class="card-text font-raleway-300">An offline app to convert between units of
                            measurements.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.unitconverter"
                                target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg" style="width: 1.2em; margin-left: 2em">
                                    <title>Google Play Link</title>
                                    <path style="fill: #EEEEEE;"
                                        d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                                </svg>
                            </a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#unit-converter-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/community_connect.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Community Connect</h4>
                        <p class="card-text font-raleway-300">A complex & robust application for managing members
                            information in
                            a community.</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#community-connect-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="card bg-work-card pt-5">
                    <img class="card-img-top" src="../../../assets/files/images/illustrations/clock_widget.svg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Clock Widget</h4>
                        <p class="card-text font-raleway-300">Basic Material Designed Clock Widget that provides
                            shortcut for all different OEMs clock apps.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.clock.analogclock"
                                target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg" style="width: 1.2em; margin-left: 2em">
                                    <title>Google Play Link</title>
                                    <path style="fill: #EEEEEE;"
                                        d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                                </svg>
                            </a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#clock-widget-modal">
                            View More...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row d-flex d-flex justify-content-center fg-grey-400 font-raleway-500 fg-white" data-aos="fade-up"
        data-aos-duration="1000" data-aos-once="false" data-aos-easing="ease-in-out">
        <div class="col-12">
            <div class="card-deck">
                <div class="card bg-work-card pt-1">
                    <div class="card-body">
                        <h4 class="card-title">Offline Notes</h4>
                        <p class="card-text font-raleway-300">An offline notepad application for your browser.</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                            <a href="https://github.com/JChiranjeev/offline-notes" target="_blank" class="float-right">
                                <svg role="img" style="width: 100%;" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>GitHub Link</title>
                                    <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                                    c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                                    c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                                    c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                                    c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                                    C24,5.7,18.6,0.3,12,0.3" />
                                </svg>
                            </a>
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#offline-notes-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="card bg-work-card pt-1">
                    <div class="card-body">
                        <h4 class="card-title">Wally</h4>
                        <p class="card-text font-raleway-300">Simple wallpaper application that provides high
                            quality wallpapers.</p>
                    </div>
                    <div class="card-footer">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-grey font-raleway-500 float-right"
                            data-toggle="modal" data-target="#wally-modal">
                            View More...
                        </button>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>

</div>

<!-- Modals -->
<div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Notes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/notes.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Quickly capture what’s on your mind at any place or time. Notes makes it easy to capture a
                            thought or list for yourself, and keep it safe from prying eyes. The app is beautifully
                            handcrafted with latest Material Design guidelines with fluid interactions and multiple
                            themes for Day/Night usage.
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://play.google.com/store/apps/details?id=dev.jainchiranjeev.notes" target="_blank"
                        class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Google Play Link</title>
                            <path style="fill: #EEEEEE;"
                                d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://github.com/JChiranjeev/notes" target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>GitHub Link</title>
                            <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                        c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                        c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                        c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                        c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                        C24,5.7,18.6,0.3,12,0.3" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="git-profile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Git Profile</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/git-profile.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Git Profile is an open-source app that aims to provide a better look to your Github profile
                            and provide the stats in an intuitive, pixel-perfect UI based solely on your username.
                            The app includes data visualizations of your top languages, repositories and much more.</p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://play.google.com/store/apps/details?id=dev.jainchiranjeev.gitprofile"
                        target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>Google Play Link</title>
                            <path style="fill: #EEEEEE;"
                                d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://github.com/JChiranjeev/git-profile" target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>GitHub Link</title>
                            <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                            c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                            c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                            c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                            c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                            C24,5.7,18.6,0.3,12,0.3" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="community-connect-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Community Connect</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/community-connect.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>A community application for a client. Lists members/businesses of the
                            community. Separate Admin
                            panel for admin users. Admin panel enables adding/removing
                            members, sending broadcast messages to community and more. Beautifully crafted with AWS,
                            Firebase and GCM at its core.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wally-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Wally</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/wally.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Wallpaper application that fetches high quality wallpapers from <a href="http://wallhaven.cc"
                                target="_blank" class="custom-link">Wallhaven</a> in real
                            time and provides features to save
                            photos or set directly as wallpapers. The app provides a simple and intuitive UI for
                            users.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unit-converter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Unit Converter</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/unit-converter.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Offline Unit Converter application that provides conversion of quantities among various
                            units of measurements. The app is beautifully crafted with latest Material Design
                            guidelines. The app provides an extremely simple user interface designed according to
                            Material Design guidelines.</p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.unitconverter"
                        target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            style="width: 1.2em; margin-left: 2em">
                            <title>Google Play Link</title>
                            <path style="fill: #EEEEEE;"
                                d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="instant-downloader-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Instant Downloader</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/instant-downloader.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Background service app that helps download quality photos from open instagram accounts.
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.instantdownloader"
                        target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            style="width: 1.2em; margin-left: 2em">
                            <title>Google Play Link</title>
                            <path style="fill: #EEEEEE;"
                                d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://github.com/JChiranjeev/instant-downloader.git" target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            style="width: 1.2em; margin-left: 2em">
                            <title>Github Link</title>
                            <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                            c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                            c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                            c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                            c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                            C24,5.7,18.6,0.3,12,0.3" />
                        </svg>
                    </a>
                </button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clock-widget-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Clock Widget</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/clock-widget.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Basic Material Designed Clock Widget that provides shortcut for all different OEMs clock
                            apps.</p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://play.google.com/store/apps/details?id=com.jainchiranjeev.clock.analogclock"
                        target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            style="width: 1.2em; margin-left: 2em">
                            <title>Google Play Link</title>
                            <path style="fill: #EEEEEE;"
                                d="M1.22 0c-.03.093-.06.185-.06.308v23.229c0 .217.061.34.184.463l11.415-12.093L1.22 0zm12.309 12.708l2.951 3.045-4.213 2.4s-5.355 3.044-8.308 4.739l9.57-10.184zm.801-.831l3.166 3.292c.496-.276 4.371-2.492 4.924-2.8.584-.338.525-.8.029-1.046-.459-.255-4.334-2.475-4.92-2.835l-3.203 3.392.004-.003zm-.803-.8l2.984-3.169-4.259-2.431S5.309 1.505 2.999.179l10.53 10.898h-.002z" />
                        </svg>
                    </a>
                </button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="offline-notes-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-modal fg-grey-400">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Offline Notes for Browser</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <img src="../../../assets/files/images/mockups/offline-notes.png" class="img-fluid"
                            alt="Responsive image">
                    </div>
                    <div class="row mt-4 font-raleway-500">
                        <p>Offline Notes is an application to safely store your notes on your own device browser. The
                            app uses the browser's localStorage to safely store encrypted noted. The app was also
                            modified on an experimental basis to be compatible for windows platform using ElectronJS.
                        </p>
                    </div>
                </div>
                <button type="button" class="btn btn-link font-raleway-500 float-left" style="width: 3em">
                    <a href="https://github.com/JChiranjeev/offline-notes" target="_blank" class="float-right">
                        <svg role="img" style="width: 100%;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <title>GitHub Link</title>
                            <path style="fill: #EEEEEE;" d="M12,0.3c-6.6,0-12,5.4-12,12c0,5.3,3.4,9.8,8.2,11.4C8.8,23.8,9,23.4,9,23.1c0-0.3,0-1,0-2
                        c-3.3,0.7-4-1.6-4-1.6c-0.5-1.4-1.3-1.8-1.3-1.8C2.5,17,3.7,17,3.7,17c1.2,0.1,1.8,1.2,1.8,1.2c1.1,1.8,2.8,1.3,3.5,1
                        c0.1-0.8,0.4-1.3,0.8-1.6c-2.7-0.3-5.5-1.3-5.5-5.9c0-1.3,0.5-2.4,1.2-3.2C5.4,8.1,5,6.9,5.7,5.3c0,0,1-0.3,3.3,1.2
                        c1-0.3,2-0.4,3-0.4c1,0,2,0.1,3,0.4c2.3-1.6,3.3-1.2,3.3-1.2c0.6,1.7,0.2,2.9,0.1,3.2c0.8,0.8,1.2,1.9,1.2,3.2
                        c0,4.6-2.8,5.6-5.5,5.9c0.4,0.4,0.8,1.1,0.8,2.2c0,1.6,0,2.9,0,3.3c0,0.3,0.2,0.7,0.8,0.6c4.8-1.6,8.2-6.1,8.2-11.4
                        C24,5.7,18.6,0.3,12,0.3" />
                        </svg>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>